In [339]:
import pandas as pd 
import numpy as np
import pickle 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import random

In [340]:
# Load Data Train csv
X_train = pd.read_csv(r'data_TA/train.csv')
n_descriptor = 6 #kombinasi terbaik

In [341]:
# Load Pickle 
label = pickle.load(open("data_TA/Label.p", "rb"))
X_train = X_train[label]

In [342]:
X_train.head()

,BCUTw-1l,PPSA-1,DPSA-1,FNSA-3,Wnu1.unity,ATSc2,C3SP2,C2SP3,nAtomP,LOBMIN,...,RDF30s,RDF55s,E2m,E3m,Dm,E2v,E3e,E1i,E2s,Ds
0,11.890000,643.791922,301.719818,-0.063670,0.062266,-0.398364,1,6,10,1.585312,...,34.456394,52.466500,0.473393,0.132460,1.120826,0.380684,0.347266,0.660599,0.396740,1.387634
1,11.850000,510.472089,205.112228,-0.082128,0.069926,-0.363981,2,3,12,2.489848,...,26.424820,48.587312,0.503970,0.188323,1.400413,0.462005,0.469026,0.598154,0.550971,1.640487
2,11.952907,472.684325,140.164455,-0.082241,0.076085,-0.253156,2,6,9,1.980182,...,19.495309,42.249355,0.280397,0.342064,1.263871,0.289770,0.476044,0.506754,0.438612,1.444453
3,11.850000,471.553057,208.972002,-0.067373,0.091300,-0.300425,1,4,10,1.420491,...,36.954653,50.750483,0.474428,0.182617,1.362322,0.491151,0.433207,0.579187,0.562255,1.598808
4,11.988405,429.104643,85.484405,-0.093212,0.059148,-0.276260,2,5,12,1.239638,...,28.450342,34.534826,0.576562,0.250018,1.330679,0.450662,0.422864,0.503079,0.501737,1.442745

In [343]:
train, val = train_test_split(X_train, test_size = 0.2, random_state = 10)

In [344]:
X_train = train.iloc[:,:-1]
X_val = val.iloc[:,:-1]
y_train = train.iloc[:, [-1]]
y_val = val.iloc[:,[-1]]

In [345]:
y_val

          Ds
7   1.723927
5   1.656430
18  1.345749
21  1.607029
11  1.453048
1   1.640487

In [346]:
#initialization
c1 = 1.49 #acceleration coefficient
c2 = 1.49 #acceleration coefficient
w = 0.73 #inertia weight
vel_limit = 0.6 #limit of velocity
n_part = 20 #number of particle
iter = 100 #number of iteration
n_desc = 50 #total number of descriptor
sel_desc = 6 #number of selected descriptor

part = []
pbest_part = []
pbest_mse = []

for i in range(n_desc):
    pbestMse = np.inf
    pbest_mse.append(pbestMse)
#print(pbest_mse)
gbest_mse = np.inf
vel = []

In [347]:
for i in range(n_part):
    list_index = np.random.choice(X_train.shape[1], sel_desc, replace=False)
    list_index = list(list_index)
    list_index.sort()
    list_index
    part.append(list_index)

In [348]:
part

[[8, 14, 47, 60, 83, 87],
 [0, 1, 6, 33, 50, 68],
 [0, 3, 7, 29, 32, 49],
 [3, 22, 33, 43, 91, 93],
 [1, 34, 44, 63, 74, 80],
 [1, 28, 47, 67, 71, 91],
 [32, 43, 50, 75, 78, 79],
 [9, 30, 33, 63, 96, 98],
 [13, 17, 24, 43, 61, 94],
 [13, 25, 39, 40, 43, 97],
 [45, 58, 61, 64, 91, 97],
 [6, 10, 36, 52, 60, 79],
 [3, 20, 29, 56, 62, 79],
 [0, 4, 20, 31, 35, 38],
 [0, 26, 39, 41, 48, 56],
 [0, 3, 30, 32, 76, 97],
 [14, 22, 28, 58, 82, 97],
 [16, 46, 51, 54, 55, 83],
 [8, 20, 26, 42, 51, 83],
 [20, 41, 43, 58, 83, 87]]

In [349]:
for i in range(n_part):
    list_vel = list(np.zeros(sel_desc))
    vel.append(list_vel)

In [350]:
#part
vel

[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]]

In [351]:
X_train_slice = X_train.iloc[:,list_index]
X_val_slice = X_val.iloc[:,list_index]

In [352]:
model = LinearRegression()
model.fit(X_train_slice, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [353]:
mse_list = list()
for l in range(iter):
    for j in range(n_part):
        mse_value = mean_squared_error(y_val, part[j])
        mse_list.append(mse_value)
        pbest_mse = mse_list.copy()
        pbest_part = part[j].copy()
    gbest_part = min(pbest_mse)
    for j in range(n_part):
        for i in range(sel_desc):
            vel[j][i] = w * vel[j][i] + c1 * random.uniform(0,100) * (pbest_part[i]-part[j][i])+c2 * random.uniform(0,100) * (gbest_part - part[j][i])
            if vel[j][i] > vel_limit:
                vel[j][i] = vel_limit
            if vel[j][i] < -vel_limit:
                vel[j][i] < -vel_limit
            part[j][i] = round(part[j][i]+vel[j][i])

In [354]:
vel

[[0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6],
 [0.6, 0.6, 0.6, 0.6, 0.6, 0.6]]

In [355]:
y_pred = model.predict(X_val_slice)
mse = mean_squared_error(y_val, y_pred)
mse

0.02304754044598875

In [356]:
#initialization
#population = 10
#n_feature = 6
#list_population = list()
#v = list()

#for i in range(0,population):
#    list_feature = list()
#    list_v = list()
#    for i in range(0,n_feature):
#        list_feature.append(random.uniform(0,100)) #random nol sampai 100
#        list_v.append(0)
#    v.append(list_v)
#    list_population.append(list_feature)
#    del list_v
#    del list_feature
    
#list_population

In [357]:
#mse = list()
#for i in range(0,len(list_population)):
#    mse.append(mean_squared_error(y_val, list_population[i]))

#p_best = mse
#g_best = min(p_best)
#v 

#p_best #dari mse
#g_best #nilai minimun dari p_best

In [358]:
#for i in range()